<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.blog.pojo.Article" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="content_html" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content_md" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="classification" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, date, content_html, content_md, classification, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blog.pojo.Article" >
    insert into article (id, title, date, 
      content_html, content_md, classification, state)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{content_html,jdbcType=VARCHAR}, #{content_md,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR},
      #{state,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.blog.pojo.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      content_html = #{content_html,jdbcType=VARCHAR},
      content_md = #{content_md,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=VARCHAR},
      state = #{state, jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getAll" resultMap="BaseResultMap">
    select * from article order by date desc
  </select>
  
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from article
  </select>
</mapper>