<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.blog.pojo.Image" >
    <constructor >
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    name, url, date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from image
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blog.pojo.Image" >
    insert into image (name, url, date)
    values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.blog.pojo.Image" >
    update image
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <select id="getAll" resultMap="BaseResultMap">
    select * from image order by date desc
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from image
  </select>
</mapper>