<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.blog.pojo.User" >
    <constructor >
      <idArg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    name, email, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blog.pojo.User" >
    insert into user (name, email, password)
    values (#{name,jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.blog.pojo.User" >
    update user
    set password = #{password,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
  
  <select id="getAll" resultMap="BaseResultMap">
    select * from user
  </select>
  
  <select id="loginCheck" resultMap="BaseResultMap" parameterType="com.blog.pojo.User">
    select * from user
    where email = #{email,jdbcType=VARCHAR} and
          password = #{password,jdbcType=VARCHAR}
  </select>
  
  <select id="registerCheck"  resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from user
    where name = #{name,jdbcType=VARCHAR}
  </select>
  
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from user
  </select>
</mapper>